<!--Header - NavBar -->
<header>
    <section class="header">
        <div class="index-logo">
            <a href="/"><img src="/assets/media/images/logo.png" width="100px" alt="logo" class="index-imglogo"></a>
            <a href="/">Sports Snow</a>
        </div>

        <section class="searchbar">

        </section>

        <section class="menu">
            <a href="index.html">Inicio</a>
            <a href="/pages/about.html" class="somos">Nosotros</a>
            <a href="/pages/productos.html" class="productos">Productos</a>
            <a href="/pages/mision-vision.html" class="objetivos">Mision y Vision</a>
            <a href="/pages/contacto.html" class="contacto">Contacto</a>
        </section>
    </section>
</header>
 <!--Header - NavBar -->

