/*Todos los estilos para la pagina de quienes somos*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Outfit:wght@200;300;400;500;600;700;800;900&display=swap');

/*Creación deñ Banner y el menu*/

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body{
    min-height: 1000px;
}

.banner{
    width: 150%;
    min-height: 150vh;
    background: url(/assets/media/images/alpessuizo.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}


.banner h2{
 color:#000; 
 font-size: 80px;
 text-transform: uppercase;
 text-align: center;
 line-height: 1em;
}

.banner h2 span{
    color: #4978ff 
}

/*estilos para la sección Quiénes somos y Botón.*/
.sec{
    background: #fff;
    padding: 100px;
    min-width: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}

.sec .content{
    position: relative;
    text-align: center;
    width: 100%;
}

.mxw800p{
    max-width: 800%;
    margin: 0 auto;
}

.btn{
    display: inline-block;
    background: #000;
    color: #9c27b0;
    padding: 10px 30px;
    text-decoration: none;

}

h3{
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;

}

p{
    font-size: 18px ;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;

}

/* ----------------------ESTILOS PARA LOS SERVICIOS DE NUESTRA EMPRESA ---------------------*/

.services{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
}

.services .box{
    width: 300px;
    margin: 0 auto;
    background:#9c27b0;;
    padding: 20px;
    box-shadow: 0px 20px 25px rgb(0,0,0.5);

}


.services .box .iconBx{
    margin-top: 25px;
}

.services .box .iconBx img{
   max-width: 70px;
   margin-bottom: 15px;
}

.services .box h2{
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
}
/*Estilos para sección* con márgenes negativos*/

.stats{
    background: #000;
    padding-top: 250px;
    margin-top: -250px;
}

.stats h3,
.stats p 
{
    color:  #9c27b0;
}

.statsBox{
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-gap: 20px;
      max-width: 100%;
}

.statsBox h2{
    color:  #9c27b0;
    font-size: 36px;
}

.statsBox h4{
    color:  #9c27b0;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/*Estilo para mostrar y ocultar una caja utilizando opacity*/

.teamBx{
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
  max-width: 100%;
  margin-top: 40px;

}

.teamBx .member{
    position: relative;
    background: #000;
    min-height: 300px;
    width: 250px;
    margin: 0  auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamBx .member .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.teamBx  .member .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.teamBx .member .details{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    transition: 0.2s;
    opacity: 0;
}

.teamBx .member .details:hover{
    opacity: 1;
}

.teamBx .member .details  h2{
   color:   #9c27b0;
   text-transform: uppercase;
   font-size: 20px;
   letter-spacing: 1px;
}

.teamBx .member .details  h2 span{
    display: block;
    font-size: 12px;
    font-weight: 300;

}


