*,html{font-family:'Times New Roman', Times, serif;
}

head img { width: 100px;}

body { background-color: #9c27b0;}

header {
    padding: 1rem;
    background-color: #999;
    display: block;
    text-align: center;
    box-sizing: 10px;
    border-radius: 1em;

}

.header > nav {   
    box-sizing: 2rem;
    box-shadow: #ccc;
}

header p a {
    width: 100%;
    border: 2px solid black;
    border-radius: 1em;
    block-size: 40px;
    font-size: 30px;
    margin-left: 30px;


}
.main p {

padding: 1rem;
block-size: auto;
border: 1px solid black;
border-radius: 1em;

}
footer p {
        background-color: #999;
        color: #000;
        block-size: 30px;
        padding: 1rem;
        text-align: center;
        box-sizing: 10px;
        border-radius: 1em;
}

form {
        margin: 0 auto;
        width: 500px;
        padding: 1em;
        border: 1px solid #ccc;
        border-radius: 1em;
        }
input,
textarea > input {   
            width: 500px;
            box-sizing: border-box;
            border: 1px solid #999;
}

