@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Outfit:wght@200;300;400;500;600;700;800;900&display=swap');
@import url(/assets/css/partials/header.css);
@import url(/assets/css/partials/footer.css);

*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    background-color: black;
}

