/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Outfit:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

footer p {
    background-color: rgb(30, 30, 30)
    block-size: 30px;
    padding: 2rem;
    text-align: center;
    box-sizing: 10px;
    border-radius: 1em;
    margin-top: 10px;    
    color: rgb(255, 201, 201);
}