/* Imports */

*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.header_container{
    height: 15%;
    width: 100%;
    background-color: transparent;
    /* border: 1px solid red; */
}

header_container::backdrop{
    background-color:black ;
}

.header_container .navbar{
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    /* padding: 0 15%; */
}

header_container .navbar .logo{
    display: flex;
    align-items: flex-end;
    flex-direction: column;

}

header_container .navbar .marca{
    font-family: 'Caveat', cursive;
    text-decoration: none;
    color: #ffffff;
    font-size:x-large;
    
}

header_container .navbar .marca:hover{
    color: whitesmoke;
}

.header_container .navbar .logo img{
    width: 13em;
    cursor: pointer;
}

.header_container .navbar .menu ul{
    display: flex;
    
}

.header_container .navbar .menu ul li{
    list-style: none;
    padding: 0 3%;
}

.header_container .navbar .menu ul li:hover{
    color: black;
    
}

.header_container .navbar .menu ul li a{
    color: rgb(255, 201, 201);
    text-decoration: none; 
    position: relative;
}

header_container .navbar .menu ul li a:hover{
    color: black;
    background-color: whitesmoke;
    transition: color 0.7s ease-in-out;
}

header_container .navbar .menu ul li a:active{
    background-color: whitesmoke;
    padding: 3%;
}

.header_container .navbar .menu ul li a::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background:#ffffff ;
    transition: width 0.3s ease-in-out;
}


.header_container .navbar .menu ul li a:hover::after{
    width: 100%;
    
}
