*,html{font-family:'Times New Roman', Times, serif;
}

.main p {

    padding: 1rem;
    block-size: auto;
    border: 1px solid black;
    border-radius: 1em;
        }
form {
        margin: 0 auto;
        width: 500px;
        padding: 1em;
        border: 1px solid #000000;
        border-radius: 1em;
        } 

p h1 {
    margin: auto;
    width: 500px;
    padding: 1em;
    border-radius: 1em;
    border: 1 px solid black;

        }

input,
textarea > input {   
            width: 500px;
            box-sizing: border-box;
            border: 1px solid #000000;
}